<body>

<div id="layout" class="pure-g">
   <%= render 'sidebar' %>

    <div class="content pure-u-1 pure-u-md-3-4">
    	<h1> Hello <%= current_user.name %> </h2>
    		<h2> Your books</h2>
				<% if current_user.books %>
				<% current_user.books.each do |b| %>
				<%= b.title %><br>
				<%= b.pages %><br>
				<% end %>
				<% end %>
    </div>
</div>






</body>
</html>